extends layouts/base.jade

block content
  h1 Flex grid item
  p
    | Use it if you not interested in column wrapper for your items (.row &gt; .column &gt; .item) and if you want your items to have same height per row.
  .list
    .list__item
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quae expedita non accusamus neque magnam pariatur, necessitatibus omnis cum odit blanditiis. Nemo doloribus quas minus cupiditate eligendi dignissimos fuga alias.
    .list__item
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quae expedita non
    .list__item
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quae expedita non
    .list__item
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quae expedita non
    .list__item
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, pariatur, quasi ab dolorem minima nostrum numquam commodi
